.row
  .span32
    .page-control#main_page_control(data-role="page-control")
      %span.menu-pull
      .menu-pull-bar
      = render 'menu_list'
      .frames#main_frames
        .frame.active#social_users_frame
          = render 'social_users_tab'
