.row
  .span31
    %h3 Mass edit
.row
  .span31
    = render 'mass_edit_form'

%hr
.row
  .span32
    #individual_edit.beautiful.blue.long
      %h3 Individual edit
#custom_messages
  = form_for @message_set do |f|
    = f.fields_for :messages do |fields|
      = render 'message_fields', f: fields
.row
  .span31
    %a{id: "post_message_button", href: "#"}
      %button.command-button.create_message.fg-color-white.bg-color-blue
        Post message
        %small.fg-color-white Message will be sent within marked accounts
