.row.header
  .span15
    %a{href: root_path}
      %h2.fg-color-blue.logo
        Multiposter
        %i.icon-comments-4
  - if signed_in?
    .span12
      %a{href: "#"}
        %h3.user_email
          %i.icon-user
          = "#{current_user.email}"
    .span4
      %a{href: destroy_user_session_path, "data-method"=> "delete", rel: "nofollow"}
        %h3.fg-color-blue.sign_out
          Sign out
          %i.icon-exit
  - else
    = link_to "Sign in", new_user_session_path
